body {
    background-color: white;
    font-family: Monserrat;
}
.main {
    display: flex;
    /* justify-content: space-between; */
    padding: 100px 50px 100px 50px;
    background: white;
}
.kunu1 {
    height: 600px;
    border-radius: 5px;
    margin-left: 25%;
    width: 600px;
    margin-top: 10px;
    /* margin-bottom: 90px; */
}
.diff-kunu{
    display: flex;
    padding-left: 60px;
    margin: 2px 10px 2px 10px;
    margin-bottom: 40px;
    /* justify-content: space-between;
    margin-top: 30px;
    justify-content: space-between; */
}
.manage {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 2px;
    
}
h4 {
    text-align: center;

}
.ind-h4 {
   /* padding-left: 300px; */
   /* justify-content: center;  */
   padding: 10px;
   padding-left: 100px;
   text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
    font-size: x-large;
}
.mainleft {
    display: flex;
    background: #90B77D;
    width: 50%;
    color: white;
    

}
.mainright {
    /* margin-right: 900px; */
    background-color: #90B77D;
    margin-left: 20px;
    width: 50%;
    color: white;
    padding: 80px 10px 10px 10px;
    line-height: 3;
    /* height: 500px; */
}
.price {
    display: flex;
    justify-content: space-around;
    padding: 50px 200px 50px 200px;
}
.cart-btn {
    color: aliceblue;
    font-weight: bolder;
    padding: 10px;
    display: flex;
    justify-content: center;
   margin-left: 210px;
   
}
.cart-icon {
    margin-right: 300px;
}
#pri {
    font-size: 30px;
    color: black;
}
#disc {
    margin-left: 10px;
    font-size: 25px;
    color: rgb(250, 164, 6);
    background-color: rgb(231, 208, 166);
    border-radius: 3px;
}
#ini {
    text-decoration: line-through;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(78, 52, 52)
}
h2 {
    text-align: center;
}
.end {
    text-align: center;
    padding-top: 60px;
}
.social {
    align-items: center;
    /* margin-left: 48%; */
    padding-left: 45%;

}

.fa-twitter {
    padding: 20px;
}
footer {
    background-color: rgb(83, 60, 60);
    color: white;
    margin-top: 90px;
    padding: 100px;
}
.sisi {
    color:rgb(63, 63, 189)
}
